@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@300&display=swap');

*{
  font-family: 'Mitr', sans-serif;
}
.body{
  height: 100vh;
  width: 100%;
  /* background-color: #FFA400; */   
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.bg{
  position: relative;
  height: 100vh;
  width: 100%;
  background: url(./bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  /* filter:blur(2px); */
  z-index: -2;
}
.bgf{
  position: absolute;
  height: 100vh;
  width: 100%;
  background: #000;
  opacity: 0.15;
  z-index: -1;
}
.App{
  position: absolute;
  text-align: center;
  height: 80vh;
  background-color: #ffffffe7;
  width: 150vh ;
  border-radius: 40px;
  padding: 50px;
  box-shadow: rgb(40 40 40 / 24%) 2px 5px 20px 3px;
  z-index: 1;
}

.App h1{
  font-size:  3rem;
}
.App h2{
  font-size:  2rem;
}
.disease{
  padding-left: 200px;
  margin-top: 30px;
  text-align:start;
}
.result{
  font-size:  1.7rem;
  margin-top: 80px;
  
}
.sede{
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.select{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
}
.head{
  margin-top: 15px;
}



/* CSS */
.button-68 {
  appearance: none;
  backface-visibility: hidden;
  background-color: #27ae60;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;  
  font-size: 20px;  
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 8px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
  transition-duration: .35s;
  transform: translateY(0);
}

.button-68:hover {
  background-color: #1e8449;
  opacity: 1;
  box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;
  transform: translateY(-2px);
  transition-duration: .35s;
}

.button-68:active {
  transform: translateY(1.75px);
  transition-duration: .35s;
}

